<div class = "pageTitle">
<h1> Geo Location</h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= Rho::RhoConfig.start_path %>">Home</a>
  </div>
</div>

<div class = "contact">
  <ul>
    <li>Your location:
        <br/>
        <% if System::get_property('platform') != 'WINDOWS' %>
          <a href="/system/map?q=<%= GeoLocation.latitude.to_s+','+GeoLocation.longitude.to_s %>"><%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %></a>
        <% else %>
          <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Native Map'} %>" ><%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %></a>
        <% end %>

        Latitude: <%= GeoLocation.latitude.to_s %><br/>
        Longitude: <%= GeoLocation.longitude.to_s %>
     </li>
     <li>
        Geo-location information available asynchronously, so you may have to <a href="/app/GeoLocation" target="_self">refresh page</a> to see results of Ruby calls
  
        <% if System::get_property('platform') != 'WINDOWS' %>
          <p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=Google" target="_self">[show Google map at location <%= GeoLocation.latitude.to_s%>,longitude=<%= GeoLocation.longitude.to_s%> ]</a></p>
        <% else %>
          <p><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Google Map'} %>" target="_self">[show Google map at location <%= GeoLocation.latitude.to_s%>,longitude=<%= GeoLocation.longitude.to_s%> ]</a></p>
        <% end %>
        <br>
        <p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=ESRI" target="_self">[show ESRI map at location <%= GeoLocation.latitude.to_s%>,longitude=<%= GeoLocation.longitude.to_s%> ]</a></p>
     </li>
   </ul>
</div>